<%- include('./partials/header.ejs') %>

<form action="/create-stekje" method="post">
  <% if(locals.errors !== undefined){ %> <% errors.forEach(error => { %> <%
  if(error.field == "naam") {%>
  <p class="error-message">
    Oeps! Het lijkt erop dat je de naam van je plant niet goed hebt ingevuld
  </p>
  <% } %> <% }) %> <% } %> <%= locals.newData %>

  <fieldset>
    <legend>Gegevens van je plant</legend>

    <label required="naam" for="naam">Naam van je plant</label>
    <input
      type="text"
      name="naam"
      id="naam"
      placeholder="Bijvoorbeeld Pothos"
      value="<%= locals.naam ?? '' %>"
    />

    <label for="voeding">Voeding</label>
    <input
      type="text"
      name="voeding"
      id="voeding"
      placeholder="bv 1x per week"
      value="<%= locals.voeding ?? '' %>"
    />

    <label for="landvanherkomst">Land van herkomst</label>
    <input
      type="text"
      name="landvanherkomst"
      id="landvanherkomst"
      placeholder="bv Afrika"
      value="<%= locals.landvanherkomst ?? '' %>"
    />

    <label for="giftig">Giftig:</label>
    <input
      type="text"
      name="giftig"
      id="giftig"
      placeholder="Alleen giftig voor.."
      value="<% locals.giftig ?? '' %>"
    />

    <label for="verpotten">Verpotten:</label>
    <input
      type="text"
      name="verpotten"
      id="verpotten"
      placeholder="bv 1x per jaar"
      value="<% locals.verpotten ?? '' %>"
    />

    <label for="image">Foto url van de plant</label>
    <input
    type="text"
      name="image"
      id="image"
      placeholder="..."
    ></input>
    <input type="submit" value="Verstuur" />
  </fieldset>
</form>

<%- include('./partials/footer.ejs') %>
